.pricing .services__text {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-bottom: 70px;
}

.pricing .services__text span {
 margin-right: 5px;
}

.pricing{
 padding: 6rem 7rem;
}

.pricing__wrap{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 20px;
}
.pricing__card{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
padding: 30px;
box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
.pricing__card--header1{
 font-size: 50px;
 font-weight: 400;
 color: #1fb6fc;
 position: relative;
 i{
  font-size: 24px;
  color: #aebbdb;
  position: absolute;
  left: -20px;
  top: 15px;
 }
}
.pricing__card--header2{
 margin-bottom: 20px;
 color: #2a3a60;
 text-transform: uppercase;
 font-size: 13px;
 letter-spacing: 1px;
 font-weight: 500;
 
}
ul{
 padding: 0;

 li{
  &:nth-child(even) {
   background: #f9faff;
  }
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #88879e;
  padding: 15px 0;
  i{
   color: #1fb6fc;
   transform: scale(2.0);
   font-size: 10px;
   margin-right: 15px;
  }
 }
}
.hero__btn--primary{
 padding:16px 10px;
}
}



@media  (max-width: 1200px) {
 .pricing{
  padding: 6rem 5rem;
 }
}

@media  (max-width: 768px) {
 .pricing{
  padding: 8rem 2rem;
 }
 .pricing__wrap{
  grid-template-columns: repeat(2,1fr);
 }

}
@media  (max-width: 400px) {
 .pricing{
  padding: 8rem 1rem;
 }
 .pricing__wrap{
  grid-template-columns: repeat(1,1fr);
 }
}


